.boton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  

}

.boton button {
    background: #ffffff;
    color: #000000;
    padding: 40px 80px;
    border-radius: 30px;
    box-shadow: #000000 2px 10px 30px;
    
}

.boton button:hover {
    background: #3d3d3d;
    color: #ffffff;
    cursor: pointer;
    transition: 0.5s;
}